.IssueList {
    width: 100%;
    min-height: 400px;
    padding: 50px;
    border-radius: 65px;
    box-shadow: 30px 30px 61px #284874,
                -30px -30px 61px #3a68a8;
}

.IssueList {
    font-size: 0.8em;
}

.IssueList__title {
    text-align: center;
    margin: 0;
}

.IssueList__errorMessage {
    display: block;
    color: rgba(255, 160, 160);
    padding: 1em 0 1em 0;
}

.issue-list {
    padding: 0;
    list-style-type: none;
}

.issue-list__element {
    display: block;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.issue-list__element:last-child{
    border-bottom: 0;
}

.issue-list__title {
    font-size: 1.3em;
}